.parent-class {
  width: 220px;
  height: 200px;
  border: solid 10px #ffc129;
  margin: .8em;
  text-align: center;
}

.child {
  height: 60px;
  margin: 2em auto;
  background-color: rgba(229, 232, 252, .6)
}

.child>p {
  margin: 0
}

.child2-class {
  box-sizing: content-box;
}

.child3-class {
  box-sizing: border-box;
}

.child2-child3-class {
  border: solid #5B6DCD 10px;
  padding: 5px;
}