.div1 {
  display: flex;
}

.parent {
  width: 50%;
}

.parent1 {
  border: solid red 5px;
}

.parent2 {
  border: solid orange 5px;
}

.child {
  width: 90%;
  border: solid yellow;
}

.twins {
  width: 50%;
  border: solid green;
}


/* styling for Pen, not related to box-sizing or layout */

body {
  font-family: sans-serif;
  font-size: 1.1em;
  width: 800px;
  height: 400px;
  border: solid red;
}

p:not(.intro) {
  text-align: center;
}